<div id="video-section" class="padding image-bg">
    <div class="overlay-bg"></div>
    <div class="container text-center">
        <div class="section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="{{ asset("assets/site.img/icons/t3.png") }}" alt="" />
        </div>
        <div class="video wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <a class="video-link" href="https://vimeo.com/124415606"><i class="fa fa-youtube-play"></i></a>
            <img class="img-responsive" src="{{ asset("assets/site.img/mockup/video.png") }}" alt="">
        </div>
    </div>
</div>