<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>

    {% if app.environment == 'prod' %}
        <!-- prod:site.css -->
          <link rel="stylesheet" type="text/css" href="{{ asset("/assets/site.css/site.css") }}">
        <!-- endbuild -->
    {% else %}
        <!-- prod:site.css -->
          <link rel="stylesheet" type="text/css" href="{{ asset("/assets/site.css/site.css") }}">
        <!-- endbuild -->
    {% endif %}
</head>
<body class="login_register">

{% block content %}
{% endblock %}

</body>
</html>