<div id="whatsit" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                <img class="img-responsive" src="{{ asset("assets/site.img/mockup/whatsit.png") }}" alt="">
            </div>
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                <div class="whatsit">
                    <h1>NearBuy</h1>
                    <h2>Allez plus loin dans le shopping</h2>
                    <p>
                        NearBuy est une application qui vous suggère des promotions à proximité de vous. <br>
                        Selon vos goûts, votre budget, vos envies, NearBuy saura vous aiguiller et deviendra votre partenaire de shopping idéal !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>