<li><a href="{{ path("nearbuy_site_default_index") }}#whatsit">A propos</a></li>
<li><a href="{{ path("nearbuy_site_default_index") }}#features">Fonctionnalités</a></li>
<li><a href="{{ path("nearbuy_site_default_index") }}#pro">Professionnel</a></li>
