<!--
  Generated template for the Inscription page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="header-title-inscription">
        <h1>Inscription</h1>
    </div>
    <!-- formulaire inscription -->
    <form [formGroup]="signForm" (ngSubmit)="onSubmit(signForm.value)">

        <!-- username -->
        <ion-item [class.error]="!username.valid && username.touched">
            <ion-label floating>Nom d'Utilisateur</ion-label>
            <ion-input type="text" value="" formControlName="username"></ion-input>
        </ion-item>
        <!-- display error message -->
        <div *ngIf="username.hasError('required') && username.touched"
             class="error-box">* Ce champs est requis!
        </div>
        <div *ngIf="username.hasError('minlength') && username.touched"
             class="error-box">* Votre nom doit contenir au moins 2 caractères.
        </div>
        <div *ngIf="username.hasError('maxlength') && username.touchd"
             class="error-box">* Votre nom ne doit pas dépasser 15 caractères.
        </div>
        <div *ngIf="username.hasError('pattern') && username.touched"
             class="error-box">* Ce nom contient certains caractères qui ne sont pas autorisés.
        </div>

        <!-- password -->
        <div formGroupName="matching_password">
            <ion-item [class.error]="!passwordGroup.valid && passwordGroup.touched">
                <ion-label floating>Mot de Passe</ion-label>
                <ion-input type="password" value="" formControlName="password"></ion-input>
            </ion-item>
            <!-- display error message -->
            <div *ngIf="signForm.controls['matching_password'].controls['password'].hasError('required') && passwordGroup.touched"
                 class="error-box">* Ce champs est requis.
            </div>
            <div *ngIf="signForm.controls['matching_password'].controls['password'].hasError('minlength') && passwordGroup.touched"
                 class="error-box">* Votre mot de passe doit contenir au moins 6 caractères.
            </div>

            <!-- confirm password -->
            <ion-item [class.error]="!passwordGroup.valid && passwordGroup.touched">
                <ion-label floating>Répéter Mot de Passe</ion-label>
                <ion-input type="password" value="" formControlName="confimpassword"></ion-input>
            </ion-item>
            <!-- display error message -->
            <div *ngIf="signForm.controls['matching_password'].controls['confimpassword'].hasError('required') && passwordGroup.touched"
                 class="error-box">* Ce champs est requis
            </div>
            <div *ngIf="signForm.controls['matching_password'].controls['confimpassword'].hasError('password') && passwordGroup.touched"
                 class="error-box">* Vos mots de passe ne sont pas identiques
            </div>
        </div>


        <!-- email -->
        <ion-item [class.error]="!email.valid && email.touched">
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" value="" formControlName="email"></ion-input>
        </ion-item>
        <!-- display error message -->
        <div *ngIf="email.hasError('required') && email.touched"
             class="error-box">* Ce champs est requis.
        </div>
        <div *ngIf="email.hasError('pattern') && email.touched"
             class="error-box">* Veuillez entrer une adresse email valide.
        </div>

        <!-- role -->
        <!-- <ion-item>
          <ion-label>Role</ion-label>
          <ion-select formControlName="role">
          <ion-option value="particulier" checked="true">Particulier</ion-option>
          <ion-option value="professionnel">Professionnel</ion-option>
          </ion-select>
        </ion-item>-->

        <!-- -->
        <div class="icon-left">
            <button ion-button type="submit" color="light" class="" [disabled]="!signForm.valid">Valider</button>
        </div>

    </form>
</ion-content>
