<div id="whatsit" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                <img class="img-responsive" src="{{ asset("assets/site.img/mockup/whatsit.png") }}" alt="">
            </div>
            <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                <div class="whatsit">
                    <h1>NearBuy</h1>
                    <h2>Allez plus loin dans le shopping</h2>
                    <p>Chez Nearbuy nous mettons un point d’honneur à faire de votre magasin un lieu incontournable pour les clients. A l’aide de promotion que vous allez mettre en place, vous deviendrez le lieu central du shopping en attirant tous les clients à proximité de vous. En utilisant Nearbuy vous garantissez une évolution et un développement de votre commerce. Alors ne réfléchissez plus et devenez partenaire de NearBuy !</p>
                </div>
            </div>
        </div>
    </div>
</div>