<li><a href="{{ path("nearbuy_site_business_index") }}#whatsit">A propos</a></li>
<li><a href="{{ path("nearbuy_site_business_index") }}#features">Fonctionnalités</a></li>
<li><a href="{{ path("nearbuy_site_business_index") }}#price">Tarifs</a></li>