<div id="price" class="padding image-bg">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="{{ asset("assets/site.img/icons/t6.png") }}" alt="" />
            <h1>Tarifs</h1>
        </div>
        <div class="prices text-center ">
            <div class="row">
                <div class="col-sm-3">
                    <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <h1>Free</h1>
                        <h2>Freebies</h2>
                        <ul>
                            <li>5 promotions</li>
                            <li>Interface administrateur</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-animated">Souscrire</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                        <h1>59€</h1>
                        <h2>Par mois</h2>
                        <ul>
                            <li>Promotions illimitées</li>
                            <li>Interface administrateur</li>
                            <li>Support / Conseil</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-animated">Souscrire</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price featured wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <h1>159€</h1>
                        <h2>Par an</h2>
                        <ul>
                            <li>Promotions illimitées</li>
                            <li>Interface administrateur</li>
                            <li>Support / Conseil</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-animated">Souscrire</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                        <h1>499€</h1>
                        <h2>À vie</h2>
                        <ul>
                            <li>Promotions illimitées</li>
                            <li>Interface administrateur</li>
                            <li>Support / Conseil</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-animated">Souscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>