<div id="testimonial" class="padding">
    <div class="container">
        <div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="{{ asset("assets/site.img/icons/t7.png") }}" alt="" />
            <h1>Témoignages</h1>
        </div>

        <div id="testimonial-slider" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner text-center wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset("assets/site.img/hubert.jpg") }}" alt="" />
                    <h2>H. Bonisseur de la Bath</h2>
                    <p>Grâce à Nearbuy, je peux atteindre mes objectifs. Je peux réaliser mes propres promotions. Je peux avancer, développer mon magasin et me projeter dans le futur.</p>
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset("assets/site.img/ava.jpg") }}" alt="" />
                    <h2>A. Noilhetas</h2>
                    <p>Je suis propriétaire d’un modeste magasin à Bordeaux, depuis que j’utilise Nearbuy notre magasin est beaucoup plus fréquenté, ce qui profite grandement à notre développement.</p>
                </div>
            </div>
        </div>
    </div>
</div>